In [1]:
import pandas as pd

In [2]:
path = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Segmentación Clientes/Segmentación de Clientes para Modelo/'

In [3]:
df = pd.read_csv(path+'Tamaño_Flota_Venta.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,RUT_Final,CT_Lub_Liviano,CT_Lub_Pesado,CT_Neu_Liviano,CT_Neu_Pesado,CT_Rep_Liviano,CT_Rep_Pesado,Flota_Liviano,Flota_Pesado,CT_Total,...,$ Venta del Potencial,% Venta del Potencial,Tamaño Flota,Clasificacion Tamaño Flota,Tamaño Flota Pesado,Clasificacion Tamaño Flota Pesado,Tamaño Flota Liviano,Clasificacion Tamaño Flota Liviano,Categoria Mix Flota,Categoria Venta del Potencial
0,235,0,0,37500,0,0,0,1,0,37500,...,37500,0.0,"2. [1, 10)",2. Micro,1. 0,1. Sin Flota,"2. [1, 10)",2. Micro,Liviano,"1. (-, 5%)"
1,884,0,0,37500,0,0,0,1,0,37500,...,37500,0.0,"2. [1, 10)",2. Micro,1. 0,1. Sin Flota,"2. [1, 10)",2. Micro,Liviano,"1. (-, 5%)"
2,957,0,0,75000,0,0,0,2,0,75000,...,75000,0.0,"2. [1, 10)",2. Micro,1. 0,1. Sin Flota,"2. [1, 10)",2. Micro,Liviano,"1. (-, 5%)"
3,12380,0,0,37500,0,0,0,1,0,37500,...,37500,0.0,"2. [1, 10)",2. Micro,1. 0,1. Sin Flota,"2. [1, 10)",2. Micro,Liviano,"1. (-, 5%)"
4,17114,0,0,0,0,0,0,1,0,0,...,0,NaN,"2. [1, 10)",2. Micro,1. 0,1. Sin Flota,"2. [1, 10)",2. Micro,Liviano,NaN

In [5]:
df.columns

Index(['RUT_Final', 'CT_Lub_Liviano', 'CT_Lub_Pesado', 'CT_Neu_Liviano',
       'CT_Neu_Pesado', 'CT_Rep_Liviano', 'CT_Rep_Pesado', 'Flota_Liviano',
       'Flota_Pesado', 'CT_Total', 'CT_Total_Liv', 'CT_Total_Pes',
       'Flota_Total', 'Q Camion', 'Q Camion Liv', 'Q Remolque',
       'Q Semi Remolque', 'Q Tractocamion', 'Q Bus', 'Q Loc Colectiva',
       'Q Mini Bus', 'Q Furgon', 'Q Automovil', 'Q Camioneta', 'Q Flota Carga',
       'Q Flota T de Pasajeros', 'Q Flota Particular', '% Flota Carga',
       '% Flota T de Pasajeros', '% Flota Particular', 'Venta_36_meses',
       'Venta_24_meses', 'Venta_12_meses', 'Estado Cliente',
       'Indicador Cliente', 'Nombre_Empresa', 'Rubros', 'Sub Rubros',
       'Actividad', '$ Venta del Potencial', '% Venta del Potencial',
       'Tamaño Flota', 'Clasificacion Tamaño Flota', 'Tamaño Flota Pesado',
       'Clasificacion Tamaño Flota Pesado', 'Tamaño Flota Liviano',
       'Clasificacion Tamaño Flota Liviano', 'Categoria Mix Flota',
       'Categoria Venta del Potencial'],
      dtype='object')

In [6]:
df_2 = df[['RUT_Final','Actividad']]

In [13]:
df_2['Actividad'].unique()

array(['RETAIL', 'TRANSPORTE DE PASAJEROS', 'COMERCIO',
       'TRANSPORTE DE CARGA', 'TALLERES/ARMADORES/REPUESTEROS',
       'INDUSTRIAL', 'SERVICIOS', 'MERCADO PÚBLICO', 'FAENAS/EXTRACCIÓN',
       'RENT A CAR', 'LEASING FINANCIERO', 'TRANSANTIAGO',
       'Sin Rubro SII'], dtype=object)

In [14]:
df_3 = df_2.loc[df['Actividad'].isin(['RETAIL', 'TRANSPORTE DE PASAJEROS', 'COMERCIO',
       'TRANSPORTE DE CARGA', 'TALLERES/ARMADORES/REPUESTEROS',
       'INDUSTRIAL', 'SERVICIOS', 'MERCADO PÚBLICO', 'FAENAS/EXTRACCIÓN',
       'RENT A CAR', 'LEASING FINANCIERO', 'TRANSANTIAGO'])]

In [16]:
df_3.shape

(3858303, 2)

In [15]:
df_3.head()

   RUT_Final Actividad
0        235    RETAIL
1        884    RETAIL
2        957    RETAIL
3      12380    RETAIL
4      17114    RETAIL

In [17]:
rfm_path = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Segmentación Clientes/RFM-2022/'

df_rfm = pd.read_csv(rfm_path + 'RFM_Analisis.csv')

In [19]:
df_rfm = df_rfm[['RUT_Final']]

In [20]:
df_f = pd.merge(df_rfm, df_3, on = 'RUT_Final', how = 'left')

In [21]:
df_f.head()

   RUT_Final            Actividad
0   14436940               RETAIL
1   16293900               RETAIL
2   15298509                  NaN
3   76417435  TRANSPORTE DE CARGA
4    9074531               RETAIL

In [23]:
df_f.shape

(88620, 2)

In [24]:
df_f.to_csv(rfm_path + 'rfm_rubro.csv')