In [16]:
import pandas as pd

In [17]:
main_path = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/An√°lisis/Parque Automotriz/Parque en Bruto para Modelo/'

In [18]:
df_parque = pd.read_csv(main_path + 'ParqueAutomotriz2020_Modelo.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
df_tipo = pd.read_excel(main_path + 'Dim_TipoVehiculo.xlsx', sheet_name='Hoja1')

In [20]:
df_parque.columns

Index(['ppu', 'dv_ppu', 'ano_fab', 'color', 'motor', 'chasis', 'rut', 'dv',
       'nomtot', 'tp_motor_fantasia', 'tp_marcaMotor', 'tp_vigencia', 'Marca',
       'Tipo', 'Modelo', 'lmat_vigencia', 'Consumo_Teorico_Lubricantes',
       'Consumo_Teorico_Neumaticos', 'Consumo_Teorico_Repuestos',
       'Consumo_Teorico_Repuestos_TM', 'Consumo_Teorico_Total', 'RUT_Final',
       'mantencion', 'leasing'],
      dtype='object')

In [21]:
df_tipo.columns

Index(['tipo', 'tipo_corto', 'clasificacion'], dtype='object')

In [22]:
df_parque = df_parque[['ppu','dv_ppu','ano_fab', 'color', 'motor', 'chasis','tp_motor_fantasia', 'tp_marcaMotor','Marca',
       'Tipo', 'Modelo']]

In [23]:
df_parque.head()

,ppu,dv_ppu,ano_fab,color,motor,chasis,tp_motor_fantasia,tp_marcaMotor,Marca,Tipo,Modelo
0,AC9316,7,1993,NEGRO,2323226,1305579,NaN,NaN,LADA,AUTOMOVIL,21053 1.5
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB
2,AC9318,3,1993,BEIGE,1635,874207,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB

In [24]:
df_tipo = df_tipo[['tipo','clasificacion']]
df_tipo.columns = ['Tipo', 'Clasificacion']

In [25]:
df_parque = pd.merge(df_parque, df_tipo, on = 'Tipo', how = 'left')

In [26]:
df_parque = df_parque[df_parque['Marca'].isin(['HYUNDAI','HINO'])]

In [27]:
df_parque.head()

,ppu,dv_ppu,ano_fab,color,motor,chasis,tp_motor_fantasia,tp_marcaMotor,Marca,Tipo,Modelo,Clasificacion
140,AC9907,6,1992,GRIS,G4CRM-599456,KMHJF31RPNU-120887,NaN,NaN,HYUNDAI,AUTOMOVIL,ELANTRA 1.6,LIVIANO
568,AB2375,9,1991,PLATEADO,G4DJ-987575,KMHVF31JPMU413287,NaN,NaN,HYUNDAI,AUTOMOVIL,EXCEL 1.5,LIVIANO
571,AB2378,3,1991,GRIS,D4BXM276764,KMJFD37XPMU105508,D4BX / HYUNDAI,HYUNDAI,HYUNDAI,MINIBUS,GRACE H 100,PESADO
578,AB2386,4,2002,ROJO,D4BH1-370867,KMXKPE1CP2U-440350,NaN,NaN,HYUNDAI,STATION WAGON,GALLOPER 2.5,LIVIANO
582,AB2390,2,1991,PLATEADO,G4DJM064281,KMHJF31JPMU057704,NaN,NaN,HYUNDAI,AUTOMOVIL,ELANTRA 1.5,LIVIANO

In [28]:
df_parque.shape

(702215, 12)

In [29]:
df_parque.columns

Index(['ppu', 'dv_ppu', 'ano_fab', 'color', 'motor', 'chasis',
       'tp_motor_fantasia', 'tp_marcaMotor', 'Marca', 'Tipo', 'Modelo',
       'Clasificacion'],
      dtype='object')

In [30]:
df_parque.to_csv(main_path + 'PESADOS HYUNDAI HINO.csv', index = False)