In [1]:
import pandas as pd

In [2]:
URL = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/'

In [3]:
#df_ventas = pd.read_csv(URL + 'VentasEne2016Nov2021.csv', sep = ';')
df_ventas = pd.read_csv(URL + 'VentasEne2016Dic2021.csv', sep = ',')

df_ventas = df_ventas[df_ventas['Mes'].notnull()]

df_ventas['Año'] = df_ventas['Año'].astype('int64')
df_ventas['Mes'] = df_ventas['Mes'].astype('int64')

df_ventas['Periodo'] = df_ventas['Año'].astype(str) + '-' + df_ventas['Mes'].astype(str)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_ventas.loc[(df_ventas['Periodo'] == '2021-12') | 
             (df_ventas['Periodo'] == '2021-11') |
             (df_ventas['Periodo'] == '2021-10') |
             (df_ventas['Periodo'] == '2021-9') |
             (df_ventas['Periodo'] == '2021-8') |
             (df_ventas['Periodo'] == '2021-7') |
             (df_ventas['Periodo'] == '2021-6') |
             (df_ventas['Periodo'] == '2021-5') |
             (df_ventas['Periodo'] == '2021-4') |
             (df_ventas['Periodo'] == '2021-3') |
             (df_ventas['Periodo'] == '2021-2') |
             (df_ventas['Periodo'] == '2021-1'), 'TipoPeriodo'] = '12 meses moviles'

df_ventas.loc[(df_ventas['Periodo'] == '2020-12') | 
             (df_ventas['Periodo'] == '2020-11') |
             (df_ventas['Periodo'] == '2020-10') |
             (df_ventas['Periodo'] == '2020-9') |
             (df_ventas['Periodo'] == '2020-8') |
             (df_ventas['Periodo'] == '2020-7') |
             (df_ventas['Periodo'] == '2020-6') |
             (df_ventas['Periodo'] == '2020-5') |
             (df_ventas['Periodo'] == '2020-4') |
             (df_ventas['Periodo'] == '2020-3') |
             (df_ventas['Periodo'] == '2020-2') |
             (df_ventas['Periodo'] == '2020-1'), 'TipoPeriodo'] = '13 a 24 meses moviles'

df_ventas.loc[(df_ventas['Periodo'] == '2019-12') | 
             (df_ventas['Periodo'] == '2019-11') |
             (df_ventas['Periodo'] == '2019-10') |
             (df_ventas['Periodo'] == '2019-9') |
             (df_ventas['Periodo'] == '2019-8') |
             (df_ventas['Periodo'] == '2019-7') |
             (df_ventas['Periodo'] == '2019-6') |
             (df_ventas['Periodo'] == '2019-5') |
             (df_ventas['Periodo'] == '2019-4') |
             (df_ventas['Periodo'] == '2019-3') |
             (df_ventas['Periodo'] == '2019-2') |
             (df_ventas['Periodo'] == '2019-1'), 'TipoPeriodo'] = '25 a 36 meses moviles'

df_ventas = df_ventas[df_ventas['TipoPeriodo'].notnull()]

In [5]:
df_ventas['RUT'] = df_ventas['RUT'].str.split('-').str[0]
df_ventas['RUT'] = df_ventas['RUT'].astype('int64')

In [6]:
df_ventas.head()

,Año,Mes,RUT,Linea,LineaN1,LineaN2,LineaN3,Q,$ Venta,Periodo,TipoPeriodo
800549,2019,1,693520,Repuestos,REPUESTOS,SUSPENSION Y DIRECCION,SUSPENSION,2.0,99.628,2019-1,25 a 36 meses moviles
800550,2019,1,2315232,Neumaticos,NEUMATICOS,CAMION-BUS & AGROINDUSTRIAL,TBR,1.0,59.794,2019-1,25 a 36 meses moviles
800551,2019,1,2315232,Servicios,PESADO,NEUMATICO,MONTAJE,1.0,4.622,2019-1,25 a 36 meses moviles
800552,2019,1,2339493,Servicios,SERVICIO,SERVICIOS ADICIONALES,SERVICIO / PRODUCTO TERCEROS,1.0,6.471,2019-1,25 a 36 meses moviles
800553,2019,1,2712611,Neumaticos,NEUMATICOS,AUTOS & CAMIONETAS,PCR,4.0,153.860,2019-1,25 a 36 meses moviles

In [7]:
# Grupos

df_gr = pd.read_excel(URL + 'VentasNov2020Oct2021.xlsx', sheet_name='RUT')
df_gr = df_gr[['Rut','Rut_Grupo']]
df_gr.columns = ['RUT','RUT_Final']


df_gr.head()

       RUT  RUT_Final
0  2275184    2275184
1  3690392   76532280
2  4457615    4457615
3  4684951    4684951
4  4911327    4911327

In [8]:
df_ventasgr = pd.merge(df_ventas, df_gr, on = 'RUT', how = 'left')

df_ventasgr.loc[df_ventasgr['RUT_Final'].isnull(), 'RUT_Final'] = df_ventasgr['RUT']
df_ventasgr['RUT_Final'] = df_ventasgr['RUT_Final'].astype('int64')

df_ventasgr = df_ventasgr.drop('RUT',1)

df_ventasgr.head()

,Año,Mes,Linea,LineaN1,LineaN2,LineaN3,Q,$ Venta,Periodo,TipoPeriodo,RUT_Final
0,2019,1,Repuestos,REPUESTOS,SUSPENSION Y DIRECCION,SUSPENSION,2.0,99.628,2019-1,25 a 36 meses moviles,693520
1,2019,1,Neumaticos,NEUMATICOS,CAMION-BUS & AGROINDUSTRIAL,TBR,1.0,59.794,2019-1,25 a 36 meses moviles,2315232
2,2019,1,Servicios,PESADO,NEUMATICO,MONTAJE,1.0,4.622,2019-1,25 a 36 meses moviles,2315232
3,2019,1,Servicios,SERVICIO,SERVICIOS ADICIONALES,SERVICIO / PRODUCTO TERCEROS,1.0,6.471,2019-1,25 a 36 meses moviles,2339493
4,2019,1,Neumaticos,NEUMATICOS,AUTOS & CAMIONETAS,PCR,4.0,153.860,2019-1,25 a 36 meses moviles,2712611

In [9]:
# Clasificacion

df_cl = pd.read_excel(URL + 'VentasNov2020Oct2021.xlsx', sheet_name='CLASIFICACION')
df_cl.head()

  LineaN3 clasificacion
0     TBR        PESADO
1    AGRO        PESADO
2     LTR       LIVIANO
3     PCR       LIVIANO
4     OTR        PESADO

In [10]:
# Left Join Final

df_ventasgrcl = pd.merge(df_ventasgr, df_cl, on = 'LineaN3', how = 'left')
df_ventasgrcl['clasificacion'] = df_ventasgrcl['clasificacion'].fillna('PESADO') 
df_ventasgrcl.head()

,Año,Mes,Linea,LineaN1,LineaN2,LineaN3,Q,$ Venta,Periodo,TipoPeriodo,RUT_Final,clasificacion
0,2019,1,Repuestos,REPUESTOS,SUSPENSION Y DIRECCION,SUSPENSION,2.0,99.628,2019-1,25 a 36 meses moviles,693520,PESADO
1,2019,1,Neumaticos,NEUMATICOS,CAMION-BUS & AGROINDUSTRIAL,TBR,1.0,59.794,2019-1,25 a 36 meses moviles,2315232,PESADO
2,2019,1,Servicios,PESADO,NEUMATICO,MONTAJE,1.0,4.622,2019-1,25 a 36 meses moviles,2315232,PESADO
3,2019,1,Servicios,SERVICIO,SERVICIOS ADICIONALES,SERVICIO / PRODUCTO TERCEROS,1.0,6.471,2019-1,25 a 36 meses moviles,2339493,PESADO
4,2019,1,Neumaticos,NEUMATICOS,AUTOS & CAMIONETAS,PCR,4.0,153.860,2019-1,25 a 36 meses moviles,2712611,LIVIANO

In [11]:
df_ventasgrcl.to_csv(URL + 'VentasEne2016Dic2021_Modelo.csv', index = False)