### Consumos Teóricos

In [107]:
import pandas as pd

In [108]:
# Carga Base Parque

URL = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/' 

df_parque = pd.read_csv(URL + 'ParqueAutomotriz2020.csv')
df_parque.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo,lmat_vigencia
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5,NaN
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,NaN
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,NaN
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN

In [109]:
df_parque.shape

(7842085, 16)

In [110]:
# Consumo Teórico

df_consumo = pd.read_excel(URL + 'ConsumoTeorico.xlsx', sheet_name='Hoja2')
df_consumo.columns = ['Tipo','Consumo_Teorico_Lubricantes','Consumo_Teorico_Neumaticos','Consumo_Teorico_Repuestos']
df_consumo

,Tipo,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos
0,CAMION,416590,700000.0,1500000
1,CAMION LIVIANO,120000,140000.0,400000
2,REMOLQUE,0,770000.0,300000
3,LOC. COLECTIVA,208295,358026.9,900000
4,BUS,416590,700000.0,3000000
5,MINIBUS,120000,140000.0,400000
6,AUTOMOVIL,0,37500.0,0
7,CAMIONETA,0,50000.0,0
8,FURGON,0,50000.0,0
9,OTROS,0,0.0,0

In [111]:
# Left Join

df_parque = pd.merge(df_parque,df_consumo, on = 'Tipo', how = 'left')

In [112]:
df_parque.head(10)

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo,lmat_vigencia,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5,NaN,0.0,37500.0,0.0
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0.0,50000.0,0.0
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,NaN,0.0,37500.0,0.0
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,NaN,0.0,50000.0,0.0
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0.0,50000.0,0.0
5,AC9321,3,1993,CELESTE,242160,TFR16HPL-EDXL-0016,8114339,0,MELLA ESCOBAR LIZARDO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 SPACECAB E,NaN,0.0,50000.0,0.0
6,AC9322,1,1993,PLATEADO,59749,1FTCR14X9PTA5949,2826973,0,AGUIRRE BUSTAMANTE MARIO DARIO,NaN,NaN,NaN,FORD,CAMIONETA,RANGER XLT 4.0,NaN,0.0,50000.0,0.0
7,AC9324,8,1993,ROJO,251997,TFR10HSL-9212,18984728,9,VELIZ SEGOVIA RAUL ALEJANDRO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 1.6,NaN,0.0,50000.0,0.0
8,AC9325,6,1993,ROJO,30421322,9BFYTRNTXPDB03052,12521676,5,ACEVEDO DONOSO MARCELO IGNACIO,6C / CUMMINS,CUMMINS,V,FORD,CAMION,CARGO 1630,NaN,416590.0,700000.0,1500000.0
9,AC9326,4,1993,VERDE,246480,TFR16HDL-E-4333,10554022,1,LOPEZ MARTINEZ BERNARDO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3,NaN,0.0,50000.0,0.0

### Tipo de Vechículo (TEMP)

In [113]:
df_tipo = pd.read_excel(URL + 'Dim_TipoVehiculo.xlsx', sheet_name = 'Hoja1')

df_tipo.columns = ['Tipo','tipo_corto','clasificacion']

In [114]:
# Left Join

df_parque = pd.merge(df_parque, df_tipo, on = 'Tipo', how = 'left')

### Corrección Consumos según Vigencias

#### Neumáticos

In [115]:
df_parque.loc[(df_parque['tp_vigencia'] == 'D') & (df_parque['clasificacion'] == 'PESADO'), 'Consumo_Teorico_Neumaticos'] = 0

In [116]:
df_parque['Consumo_Teorico_Neumaticos'] = df_parque['Consumo_Teorico_Neumaticos'].fillna(0)

In [117]:
df_parque['Consumo_Teorico_Neumaticos'].sum()

573689432012.3005

#### Repuestos

In [118]:
df_parque['Consumo_Teorico_Repuestos_TM'] = df_parque['Consumo_Teorico_Repuestos']
df_parque['Consumo_Teorico_Repuestos_TM'] = df_parque['Consumo_Teorico_Repuestos_TM'].fillna(0)

In [119]:
df_parque.loc[(df_parque['lmat_vigencia'] != 'V') & (df_parque['Tipo'] != 'REMOLQUE') , 'Consumo_Teorico_Repuestos'] = 0

In [120]:
df_parque['Consumo_Teorico_Repuestos'] = df_parque['Consumo_Teorico_Repuestos'].fillna(0)

In [121]:
df_parque['Consumo_Teorico_Repuestos'].sum()

264391100000.0

In [122]:
df_parque['Consumo_Teorico_Repuestos_TM'].sum()

766180300000.0

#### Lubricantes

In [123]:
df_parque['Consumo_Teorico_Lubricantes'] = df_parque['Consumo_Teorico_Lubricantes'].fillna(0)

In [124]:
df_parque['Consumo_Teorico_Lubricantes'].sum()

176714664220.0

In [125]:
df_parque.dtypes

ppu                              object
dv_ppu                           object
ano_fab                           int64
color                            object
motor                            object
chasis                           object
rut                               int64
dv                               object
nomtot                           object
tp_motor_fantasia                object
tp_marcaMotor                    object
tp_vigencia                      object
Marca                            object
Tipo                             object
Modelo                           object
lmat_vigencia                    object
Consumo_Teorico_Lubricantes     float64
Consumo_Teorico_Neumaticos      float64
Consumo_Teorico_Repuestos       float64
tipo_corto                       object
clasificacion                    object
Consumo_Teorico_Repuestos_TM    float64
dtype: object

In [126]:
df_parque['Consumo_Teorico_Total'] = df_parque['Consumo_Teorico_Lubricantes']+df_parque['Consumo_Teorico_Neumaticos']+df_parque['Consumo_Teorico_Repuestos']

In [127]:
df_parque.head()

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,...,Tipo,Modelo,lmat_vigencia,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos,tipo_corto,clasificacion,Consumo_Teorico_Repuestos_TM,Consumo_Teorico_Total
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,...,AUTOMOVIL,21053 1.5,NaN,0.0,37500.0,0.0,AUTOMOVIL,LIVIANO,0.0,37500.0
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,...,CAMIONETA,LUV 2.3 D CAB,NaN,0.0,50000.0,0.0,CAMIONETA,LIVIANO,0.0,50000.0
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,...,AUTOMOVIL,605 SLI 2.0,NaN,0.0,37500.0,0.0,AUTOMOVIL,LIVIANO,0.0,37500.0
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,...,CAMIONETA,LUV 4X4 D CAB CKD E,NaN,0.0,50000.0,0.0,CAMIONETA,LIVIANO,0.0,50000.0
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,...,CAMIONETA,LUV 2.3 D CAB,NaN,0.0,50000.0,0.0,CAMIONETA,LIVIANO,0.0,50000.0

In [128]:
df_parque['Consumo_Teorico_Lubricantes'] = df_parque['Consumo_Teorico_Lubricantes'].astype('int64')
df_parque['Consumo_Teorico_Neumaticos'] = df_parque['Consumo_Teorico_Neumaticos'].astype('int64')
df_parque['Consumo_Teorico_Repuestos'] = df_parque['Consumo_Teorico_Repuestos'].astype('int64')
df_parque['Consumo_Teorico_Repuestos_TM'] = df_parque['Consumo_Teorico_Repuestos_TM'].astype('int64')
df_parque['Consumo_Teorico_Total'] = df_parque['Consumo_Teorico_Total'].astype('int64')

In [129]:
df_parque['ppu'].count()

7842085

In [130]:
df_parque = df_parque.drop('tipo_corto',1)
df_parque = df_parque.drop('clasificacion',1)

In [131]:
df_parque.to_csv('C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/ParqueAutomotriz2020_CC.csv', index= False)