### Empresas Relacionadas

In [1]:
import pandas as pd

In [2]:
# Carga Base Parque

URL = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/' 

df_parque2020 = pd.read_csv(URL + 'ParqueAutomotriz2020_CC.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_parque2020.head(5)

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,...,tp_vigencia,Marca,Tipo,Modelo,lmat_vigencia,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos,Consumo_Teorico_Repuestos_TM,Consumo_Teorico_Total
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,...,NaN,LADA,AUTOMOVIL,21053 1.5,NaN,0,37500,0,0,37500
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,...,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0,50000,0,0,50000
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,...,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,NaN,0,37500,0,0,37500
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,...,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,NaN,0,50000,0,0,50000
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,...,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0,50000,0,0,50000

In [4]:
df_parque2020['ppu'].count()

7842085

In [5]:
# RUT relacionados

df_rutgrupos = pd.read_csv(URL + 'Rut_relacionados.csv', sep = ';')

In [6]:
df_rutgrupos.columns = ['rut', 'grupo','Rut_Grupo']
df_rutgrupos.head(10)

        rut                         grupo  Rut_Grupo
0   2275184             Transportes Camus    2275184
1  53333206             Transportes Camus    2275184
2   4457615    Meneses Ponce Hermo Efrain    4457615
3  79617470    Meneses Ponce Hermo Efrain    4457615
4   4684951   Rojas Pina Cesar Del Carmen    4684951
5  77682690   Rojas Pina Cesar Del Carmen    4684951
6   4911327                    Bandelsur     4911327
7  77824600                    Bandelsur     4911327
8   5231456  Munoz Moreno Timoteo Enrique    5231456
9   5563271                 Julio Cabello    5563271

In [7]:
# LEFT

df_parque2020 = pd.merge(df_parque2020, df_rutgrupos, on = 'rut', how = 'left')

In [8]:
df_parque2020.head(5)

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,...,Tipo,Modelo,lmat_vigencia,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos,Consumo_Teorico_Repuestos_TM,Consumo_Teorico_Total,grupo,Rut_Grupo
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,...,AUTOMOVIL,21053 1.5,NaN,0,37500,0,0,37500,NaN,NaN
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,...,CAMIONETA,LUV 2.3 D CAB,NaN,0,50000,0,0,50000,NaN,NaN
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,...,AUTOMOVIL,605 SLI 2.0,NaN,0,37500,0,0,37500,NaN,NaN
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,...,CAMIONETA,LUV 4X4 D CAB CKD E,NaN,0,50000,0,0,50000,NaN,NaN
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,...,CAMIONETA,LUV 2.3 D CAB,NaN,0,50000,0,0,50000,NaN,NaN

In [9]:
df_parque2020.loc[df_parque2020['Rut_Grupo'].notnull(), 'RUT_Final'] = df_parque2020['Rut_Grupo']
df_parque2020.loc[df_parque2020['RUT_Final'].isnull(),'RUT_Final'] = df_parque2020['rut']

In [10]:
df_parque2020[df_parque2020['RUT_Final'] == 78057000]

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,...,Modelo,lmat_vigencia,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos,Consumo_Teorico_Repuestos_TM,Consumo_Teorico_Total,grupo,Rut_Grupo,RUT_Final
286017,JB6036,1,1995,AZUL,NaN,2204,78057000,8,SOTRASER S A,NaN,...,8.50 M,NaN,0,770000,300000,300000,1070000,Sotraser,78057000.0,78057000.0
286028,JB6060,4,1999,BLANCO,NaN,S/N,78057000,8,SOTRASER S A,NaN,...,18 TONELADAS,NaN,0,770000,300000,300000,1070000,Sotraser,78057000.0,78057000.0
286030,JB6062,0,1997,BLANCO,NaN,182204,78057000,8,SOTRASER S A,NaN,...,NO REGISTRA,NaN,0,770000,300000,300000,1070000,Sotraser,78057000.0,78057000.0
286032,JB6064,7,1994,BLANCO,NaN,157105,78057000,8,SOTRASER S A,NaN,...,NaN,NaN,0,770000,300000,300000,1070000,Sotraser,78057000.0,78057000.0
286033,JB6065,5,1995,BLANCO,NaN,16924,78057000,8,SOTRASER S A,NaN,...,07AN 1AAP,NaN,0,770000,300000,300000,1070000,Sotraser,78057000.0,78057000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7779014,KRPC69,9,2018,BLANCO,8320107,9BSG6X200J3930463,78057000,8,SOTRASER S A,DC13 / SCANIA,...,G 440,V,416590,700000,1500000,1500000,2616590,Sotraser,78057000.0,78057000.0
7779015,KRPC70,2,2018,BLANCO,8320131,9BSG6X200J3930487,78057000,8,SOTRASER S A,DC13 / SCANIA,...,G 440,V,416590,700000,1500000,1500000,2616590,Sotraser,78057000.0,78057000.0
7779016,KRPC71,0,2018,BLANCO,8320142,9BSG6X200J3930498,78057000,8,SOTRASER S A,DC13 / SCANIA,...,G 440,V,416590,700000,1500000,1500000,2616590,Sotraser,78057000.0,78057000.0
7779017,KRPC72,9,2018,BLANCO,8320121,9BSG6X200J3930477,78057000,8,SOTRASER S A,DC13 / SCANIA,...,G 440,V,416590,700000,1500000,1500000,2616590,Sotraser,78057000.0,78057000.0
7826919,LXDC85,3,2020,BLANCO,7JV2742,NaN,78057000,8,SOTRASER S A,NaN,...,S450,NaN,0,0,0,0,0,Sotraser,78057000.0,78057000.0

In [11]:
df_parque2020[df_parque2020['RUT_Final'] == 77542170]

Empty DataFrame
Columns: [ppu, dv_ppu, ano_fab, color, motor, chasis, rut, dv, nomtot, tp_motor_fantasia, tp_marcaMotor, tp_vigencia, Marca, Tipo, Modelo, lmat_vigencia, Consumo_Teorico_Lubricantes, Consumo_Teorico_Neumaticos, Consumo_Teorico_Repuestos, Consumo_Teorico_Repuestos_TM, Consumo_Teorico_Total, grupo, Rut_Grupo, RUT_Final]
Index: []

[0 rows x 24 columns]

In [12]:
# Eliminación columnas

df_parque2020 = df_parque2020.drop('Rut_Grupo',1)
df_parque2020 = df_parque2020.drop('grupo',1)

In [13]:
df_parque2020.head(5)

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,...,Marca,Tipo,Modelo,lmat_vigencia,Consumo_Teorico_Lubricantes,Consumo_Teorico_Neumaticos,Consumo_Teorico_Repuestos,Consumo_Teorico_Repuestos_TM,Consumo_Teorico_Total,RUT_Final
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,...,LADA,AUTOMOVIL,21053 1.5,NaN,0,37500,0,0,37500,9629390.0
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,...,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0,50000,0,0,50000,3222026.0
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,...,PEUGEOT,AUTOMOVIL,605 SLI 2.0,NaN,0,37500,0,0,37500,8937861.0
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,...,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,NaN,0,50000,0,0,50000,10077682.0
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,...,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN,0,50000,0,0,50000,15745597.0

In [14]:
df_parque2020.dtypes

ppu                              object
dv_ppu                           object
ano_fab                           int64
color                            object
motor                            object
chasis                           object
rut                               int64
dv                               object
nomtot                           object
tp_motor_fantasia                object
tp_marcaMotor                    object
tp_vigencia                      object
Marca                            object
Tipo                             object
Modelo                           object
lmat_vigencia                    object
Consumo_Teorico_Lubricantes       int64
Consumo_Teorico_Neumaticos        int64
Consumo_Teorico_Repuestos         int64
Consumo_Teorico_Repuestos_TM      int64
Consumo_Teorico_Total             int64
RUT_Final                       float64
dtype: object

In [15]:
df_parque2020['RUT_Final'] = df_parque2020['RUT_Final'].astype('int64')

In [16]:
df_parque2020['ppu'].count()

7842085

In [17]:
df_parque2020.to_csv('C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/Análisis/Parque Automotriz/Parque en Bruto para Modelo/ParqueAutomotriz2020_CCR.csv', index= False)