In [1]:
import pandas as pd

In [2]:
URL = 'C:/Users/juan.vergara/OneDrive - Caren Repuestos Flotacentro/Documentos/An√°lisis/Parque Automotriz/Parque en Bruto para Modelo/'

In [3]:
df = pd.read_csv(URL+'ParqueAutomotriz2020.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,ppu,dv_ppu,ano_fab,color,motor,chasis,rut,dv,nomtot,tp_motor_fantasia,tp_marcaMotor,tp_vigencia,Marca,Tipo,Modelo,lmat_vigencia
0,AC9316,7,1993,NEGRO,2323226,1305579,9629390,9,SEGURA CASTILLO RAMON SEGUNDO,NaN,NaN,NaN,LADA,AUTOMOVIL,21053 1.5,NaN
1,AC9317,5,1993,AZUL,235034,TFR16HDL-E-B-1471,3222026,6,PAILLAMAN COTAR TORIBIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN
2,AC9318,3,1993,BEIGE,1635,874207,8937861,3,SALAS CORTES CRISTIAN HUMBERTO,NaN,NaN,NaN,PEUGEOT,AUTOMOVIL,605 SLI 2.0,NaN
3,AC9319,1,1993,ROJO,237353,TFS16HDL-E-0423,10077682,0,PALMA SILVA DAVID IGNACIO,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 4X4 D CAB CKD E,NaN
4,AC9320,5,1993,AZUL,232862,TFR16HDL-E-B-1354,15745597,4,FUENTES ZUNIGA UBERLINDA DEL CARMEN,NaN,NaN,NaN,CHEVROLET,CAMIONETA,LUV 2.3 D CAB,NaN

In [5]:
df['Tipo'].unique()

array(['AUTOMOVIL', 'CAMIONETA', 'CAMION', 'FURGON', 'MINIBUS', 'MOTO',
       'BICIMOTO', 'JEEP', 'STATION WAGON', 'TRACTOR', 'CAMION LIVIANO',
       'CUATRIMOTO', 'MOTONETA', 'AMBULANCIA', 'MAQUINA INDUSTRIAL',
       'LOC. COLECTIVA', 'CASA RODANTE MOTOR', 'CHASSIS', 'BUS',
       'TRIMOTO', 'MAQUINA AGRICOLA', 'CARROBOMBA', 'TRICICLO CON MOTOR',
       'COCHE MORTUORIO', 'TROLEBUS', 'REMOLQUE', 'BUGGI', 'LIMUSINA',
       'BICICLETA MOTOR', 'TRACTOR ANFIBIO', 'MAQ. INDUSTRIAL',
       'TODO TERRENO'], dtype=object)

In [6]:
# Solo Camiones

df = df[(df['Tipo'] == 'CAMION') & (df['Marca'] == 'MACK')]

In [7]:
df.shape

(11218, 16)

In [8]:
df.to_csv(URL+'Mack.csv', index = False)