Importacion de libreia Pandas y carga de la data

Cargar y explorar los datos

In [10]:
import pandas as pd

# Cargar los datos (ajustar la ruta al archivo)
df = pd.read_excel('C:\\Users\\gerson.cordero\\OneDrive - INACAP\\Data Science\\Modelos ML\\Forecast Neumaticos\\data_venta.xlsx', parse_dates=['Fecha'])

# Ver las primeras filas
df.head()

,Fecha,Cod Mat SAP,Descripción Mat,Sucursales,Cantidad,Costo $,Precio $,Vta $,Mg $
0,2023-01-03 00:00:00,200045.0,11R22.5 16PR 148/145M CR926D GOODRIDE,Chillan FC,2.0,135132.0,174782.00,349564.0,79300.0
1,2023-01-03 00:00:00,200045.0,11R22.5 16PR 148/145M CR926D GOODRIDE,Los Angeles FC,4.0,134969.0,173940.75,695763.0,155887.0
2,2023-01-03 00:00:00,200045.0,11R22.5 16PR 148/145M CR926D GOODRIDE,Osorno FC,2.0,135105.0,174782.00,349564.0,79354.0
3,2023-01-03 00:00:00,200045.0,11R22.5 16PR 148/145M CR926D GOODRIDE,Talcahuano,1.0,135459.0,174782.00,174782.0,39323.0
4,2023-01-03 00:00:00,200046.0,11R22.5 16PR 148/145J CB972 GOODRIDE,Los Angeles FC,4.0,147669.0,209235.00,836940.0,246264.0

Analisis inicial